.fake/build.fsx/*
!.fake/build.fsx/paket.dependencies
!.fake/build.fsx/paket.lock
.paket/load/
.paket/paket.exe
.ionide/
PoC/EvernoteApi/config.json
PoC/AzureSpeech/config.json

**/bin/
**/obj/

src/WebhookFn1.0/
src/WebhookFnFsx
src/LPMentor.ConsoleTool/appsettings.json

samples/PubProfile.json
samples/PubProfile.web.json
zipTemp/
