.fake/build.fsx/*
!.fake/build.fsx/paket.dependencies
!.fake/build.fsx/paket.lock
.paket/load/
.paket/paket.exe
PoC/EvernoteApi/config.json
PoC/AzureSpeech/config.json

**/bin/
**/obj/

src/WebhookFn1.0/
src/WebhookFnFsx

samples/PubProfile.json
zipTemp/
