source https://www.nuget.org/api/v2
storage: none
framework: netcoreapp2.1
    nuget evernote-cloud-sdk-windows
    nuget FSharp.Core
    nuget Microsoft.NET.Sdk.Functions
    nuget Microsoft.Azure.WebJobs.Extensions.Storage
    nuget Http.fs
    nuget TaskBuilder.fs
    nuget FSharp.Data
    nuget FSharp.Azure.StorageTypeProvider

group Durable
source https://api.nuget.org/v3/index.json
storage: none
framework: netcoreapp2.1,net472
    nuget evernote-cloud-sdk-windows
    nuget FSharp.Core
    nuget FSharp.Data
    nuget Microsoft.NET.Sdk.Functions
    nuget Microsoft.Azure.Storage.Blob
    nuget Microsoft.Azure.Storage.Queue
    nuget Microsoft.Azure.Cosmos.Table
    nuget Microsoft.AspNetCore.Http
    nuget Http.fs
    nuget TaskBuilder.fs
    nuget DurableFunctions.FSharp

group WebServer
    source https://api.nuget.org/v3/index.json
    framework: netcoreapp2.2
    storage: none

    nuget FSharp.Core
    nuget Giraffe
    nuget Microsoft.AspNetCore
    nuget Microsoft.AspNetCore.StaticFiles
    nuget Fable.Remoting.Giraffe ~> 3
    nuget Microsoft.Azure.Cosmos.Table

group WebClient
    source https://api.nuget.org/v3/index.json
    framework: netstandard2.0
    storage: none

    nuget Fable.Core ~> 3
    nuget Fable.Elmish ~> 3
    nuget Fable.Elmish.Debugger ~> 3
    nuget Fable.Elmish.HMR ~> 4
    nuget Fable.Elmish.React ~> 3
    nuget Fable.React ~> 5
    nuget Fable.Remoting.Client ~> 5
    nuget Fulma ~> 2
    nuget Fable.FontAwesome.Free ~> 2
    nuget FSharp.Control.AsyncRx

group Build
    source https://api.nuget.org/v3/index.json
    framework: netstandard2.0
    storage: none

    nuget FSharp.Core
    nuget Fake.Core.ReleaseNotes
    nuget Fake.Core.Target
    nuget Fake.DotNet.Cli
    nuget Fake.IO.FileSystem
    nuget Fake.IO.Zip
    nuget Fake.Azure.Kudu
    nuget FSharp.Data

group PoC_Evernote
source https://www.nuget.org/api/v2
storage: none
framework: net472
    nuget evernote-cloud-sdk-windows
    nuget PreMailer.Net
    nuget FSharp.Data

group PoC_AzureSpeech
source https://www.nuget.org/api/v2
storage: none
framework: net472
    nuget Microsoft.CognitiveServices.Speech
    nuget TaskBuilder.fs
    nuget FSharp.Data
    nuget Http.fs
    nuget System.Net.Http
    nuget FSharp.Azure.StorageTypeProvider ~> 1.9

group PoC_AzureStorageTP
source https://www.nuget.org/api/v2
storage: none
framework: net472
    nuget FSharp.Core
    nuget FSharp.Azure.StorageTypeProvider
    nuget WindowsAzure.Storage 9.3.2
    nuget System.Runtime
    nuget System.IO

