@import "_inputrange.scss";
// kanban

#sectioncontainer {
    margin-top: 20px;
}

/* Keep from sticking to sides */
.cards-container {
    max-width: 95%;
}

.board-item {
    margin: 5px 0;
    will-change: transform;
}

.board-item-content {
    word-break: break-all;
    position: relative;
    padding: 20px;
    background: #fff;
    border-radius: 4px;
    font-size: 17px;
    text-align: center;
    cursor: pointer;
    -webkit-box-shadow: 0px 1px 3px 0 rgba(0,0,0,0.2);
    box-shadow: 0px 1px 3px 0 rgba(0,0,0,0.2);
    margin: 5px;
}

.delete {
    pointer-events: auto;
}

footer {
    margin-top: 2rem;
}

.flex {
    display: flex;
    &.row {
        flex-direction: row;
    }
    .flexAuto {
        flex: 1 1 0;
    }
}

.playerContainer {
    color: #001f3f;
    border-radius: 3px;
    border: 1px solid rgba(0,0,0,.125);
    display: flex;
    align-items: center;
    flex-grow: 1;
    height: 5rem;
    padding-left: 1rem;

    .sb-soundplayer-btn {
        background-color: #fc561e;
        color: #fff;        
        border-radius: 50%;
        width: 3rem;
        height: 3rem;
        padding: 0;
        border: none;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;

        &.sb-soundplayer-play-btn {
            .sb-soundplayer-icon {
                width: 1rem;
                height: 1rem;
            }
        }
        &.sb-soundplayer-volume-btn {
            width: 1.2rem;
            height: 1.2rem;
            .sb-soundplayer-icon {
                width: 0.75rem;
                height: 0.75rem;
            }
        }
        .sb-soundplayer-icon {
            position: relative;
            vertical-align: middle;
        }
    }
    h2 {}
    .sb-soundplayer-timer {
    }
    .sb-soundplayer-progress-container {
        box-sizing: border-box;
        border-radius: 3px;
        background-color: #ddd;
        width: 100%;
        height: 8px;
        overflow: hidden;
        cursor: pointer;
    }
    .sb-soundplayer-progress-inner {
        height: 100%;
        background-color: #f8784d;
    }
    .sb-soundplayer-volume {
        box-sizing: border-box;
        display: flex;
        align-items: center;
        margin-right: 8px;

        div {
            display: flex;
            align-items: center;
            width: 0px;
            transition: width 0.5s;
            -moz-transition: width 0.5s; /* Firefox 4 */
            -webkit-transition: width 0.5s; /* Safari 和 Chrome */
            -o-transition: width 0.5s; /* Opera */

            .sb-soundplayer-volume-range {
                display: none;
            }
        }

        &:hover {
            div {
                width: 100px;
                .sb-soundplayer-volume-range {
                    display: block;
                }
            }
        }
    }
    .sb-soundplayer-volume-range {
        background-color: transparent;
        color: rgb(196, 196, 196);
        cursor: default;
        -webkit-appearance: none;
        // width: 98%;
        font-family: inherit;
        font-size: 16px;
        font-size: 1rem;
        box-sizing: border-box;
        margin-top: 0;
        margin-bottom: 0;
    }
}